
<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div class="bg-white">
            <form>
                <div class="mb-3 flex flex-row">
                    <div class="basis-1/2">
                        <div class="w-1/2">
                            <input
                            id="table-complete-search"
                            type="text"
                            class="form-control w-full"
                            name="searchTerm"
                            placeholder="Filter"
                            [(ngModel)]="service.searchTerm"
                        />
                        </div>
                    </div>
                    <div class="basis-1/2 flex justify-end">
                        <button class="rounded-md bg-gray-700 px-4 py-2 text-sm font-semibold text-gray-300 hover:text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-700" (click)="openPopUp(content)" >
                            Add Book
                        </button>
                    </div>
                    <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
                </div>

                <table class="w-full border border-slate-400">
                    <thead class="bg-gray-800 text-gray-300">
                        <tr>
                            <th class="py-3 px-2" sortable="Name" >Name</th>
                            <th class="py-2 px-2" sortable="Cover">Cover</th>
                            <th class="py-2 px-2 " sortable="Author">Author</th>
                            <th class="py-2 px-2 " sortable="Topic">Topic</th>
                            <th class="py-2 px-2 " sortable="Type">Type</th>
                            <th class="py-2 px-2 " sortable="Link">Link</th>
                            <th class="py-2 px-2 " sortable="Section">Section</th>
                            <th class="py-2 px-2 " sortable="Description">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books$ | async">
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.name" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><img [src]="book.cover" width="30"></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.author" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.topic" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.type" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.link" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.section" [term]="service.searchTerm"></ngb-highlight></td>
                            <td class="py-2 px-2 border border-slate-400"><ngb-highlight [result]="book.description" [term]="service.searchTerm"></ngb-highlight></td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>

                    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="15">15 items per page</option>
                        <option [ngValue]="25">25 items per page</option>
                        <option [ngValue]="50">30 items per page</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</main>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Create</h4>
        
		
            <button type="button" class=" text-neutral-800 py-2 px-2 border-1  hover:bg-neutral-800  hover:text-gray-100  focus:outline-none  font-medium rounded-lg text-sm  text-center inline-flex items-center dark:focus:ring-black mr-2 mb-2" (click)="modal.dismiss('Cross click')">
                <svg class="w-4 h-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" >
                    <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
               
              </button>
          
        
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3 flex items-stretch ">
				
				<div class="w-1/2 pr-7">
                    <label for="Type" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                    <input type="text" id="first_name" class=" border border-gray-300  w-full pr-16 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required>
                </div>
					<!--button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button-->
				
                <div class="w-1/2">
                    <label for="Type" class="block text-sm font-medium leading-6 text-gray-900">Author</label>
                    <input type="text" id="first_name" class=" border border-gray-300 w-full pr-16 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Author" required>
                </div>
					<!--button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button-->
			</div>
            <div class="flex mb-3 items-stretch">
            <div class="sm:col-span-3 w-1/2 pr-7">
                <label for="Topic" class="block text-sm font-medium leading-6 text-gray-900">Topic</label>
                <div class="mt-2">
                  <select id="Topic" name="Topic" autocomplete="topic" class="block px-2  w-full rounded-md border border-gray-300  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option>Temp</option>
                    <option>USD</option>
                  </select>
                </div>
              </div>
              <div class="sm:col-span-3 w-1/2 pr-7">
                <label for="Type" class="block text-sm font-medium leading-6 text-gray-900">Type</label>
                <div class="mt-2">
                  <select id="Type" name="Type" autocomplete="type" class="block px-2  w-full rounded-md border border-gray-300  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option>Temp</option>
                    <option>USD</option>
                  </select>
                </div>
              </div>
              <div class="sm:col-span-3 w-1/2">
                <label for="Section" class="block text-sm font-medium leading-6 text-gray-900">Section</label>
                <div class="mt-2">
                  <select id="Section" name="Section" autocomplete="Section" class="block px-2  w-full rounded-md border border-gray-300  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option>Books</option>
                    <option>Books</option>
                  </select>
                </div>
              </div>
            </div>
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900  rounded-lg border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

		</form>
        
	</div>
	<div class="modal-footer">
		
        <button class="bg-neutral-50 hover:bg-neutral-800 text-neutral-800 font-semibold hover:text-gray-100 py-2 px-4 border border-grey hover:border-transparent rounded" (click)="modal.close('Save click')">
            Save
          </button>
	</div>
    
      
</ng-template>
