
table {
    width: 100%;
  
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,th {
    width: 25%;
   
  }
  
 

  .mat-mdc-table .mat-mdc-header-cell {
    background-color:rgb(31, 41, 55);
    color: rgb(203, 213, 219);
  }
  .mat-mdc-table .mat-mdc-header-cell:hover {
   
    color:white;
  }
  .mat-mdc-table {
    border: 1px solid lightgray;
}
.mat-mdc-cell{
    border: 1px solid lightgray;

}
  
