<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">About</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <h1 class=" text-center text-blue-900   mt-16 text-3xl font-bold">KHANQAH E MOAZZAMIA</h1>
      <div class="container flex mt-16 mt-16 justify-center  mx-auto flex-wrap">
          <div class=" mr-10 lg:w-1/3 sm:order-last md:order-last lg:order-first  xl:order-first  " data-aos="fade-right " data-aos-duration="1000">
              <p>
                  Khanqah e Moazzamia is an institution consisting of Boys & Girls Campuses, along with AL Moazzam Girls College and AL Moazzam University.
                   The organization operates Free Homeo Despensaries, providing healthcare services, and Dar ul Iftah, offering religious guidance. 
                   Libraries are available for students and researchers, and the institution conducts Tarbiyati Conferences and Seminars. 
                   With a commitment to service, Jamia Moazzamia operates 24/7 to serve humanity. Additionally, 
                   the AL Hameed Water Filtration Service ensures clean drinking water for communities. Overall,
                   Jamia Moazzamia encompasses educational, healthcare, religious, and welfare initiatives,
                    promoting holistic development and well-being.
          </p>
        
            
          <h5 class="text-xl font-extrabold dark:text-white pt-6">Initiatives</h5>
<ul class="max-w-md space-y-1  list-disc list-inside ">
    <li>
      Jamia Moazzamia
      Boys & Girls Campuses
    </li>
    <li>
      AL Moazzam Girls College
    </li>
    <li>
      AL Moazzam Univeresity
    </li>
    <li>
      Free Homeo Despensaries
    </li>
    <li>
      Dar ul Iftah
    </li>
    <li>
      Libraries
    </li>
    <li>
      Conduct Tarbiyati Conferences 
      &
      Seminars
    </li>
    <li>
      24/7 Service for humanity
    </li>
    <li>
      AL Hameed Water Filteration
      Service
    </li>
</ul>
         </div>
  
          <div class="lg:w-1/3 order-first md:order-first lg:order-last xl:order-last " data-aos="fade-left" data-aos-duration="1000">
              <img [src]="img1" class="img h-auto max-w-lg  rounded-lg " alt="hidden" />
          </div>
     
       </div>
    </div>
  </main>