
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <h1 class=" text-center text-blue-900   mt-16 text-3xl font-bold">JAMIA MOAZZAMIA
       ( KHAWAJA MUHAMMAD 
        HUSSAIN CAMPUS)
        
        </h1>
    <div class="container flex mt-16 mt-16 justify-center  mx-auto flex-wrap">
        <div class=" mr-10 lg:w-1/3 sm:order-last md:order-last lg:order-first  xl:order-first  " data-aos="fade-right " data-aos-duration="1000">
            <p>
                In this Islamic institution, approximately 400 students are currently enrolled in various courses.
                 These courses include Hifz-e-Quran (memorization of the Quran), Tajweed (the rules of Quranic recitation),
                  Dars-e-Nizami (an eight-year Islamic scholarship program), Matriculation (secondary school education),
                   Intermediate (higher secondary education), ADP/B.A. (Associate Degree Program/Bachelor of Arts) spanning
                    two years, BS English (Bachelor of Science in English) with a four-year duration, BS Islamiyat/Arabic, 
                    and Computer Courses. This institution provides a comprehensive educational platform for students to
                     study and excel in Islamic studies, language proficiency, general education, and computer skills.
        </p>
       </div>

        <div class="lg:w-1/3 order-first md:order-first lg:order-last xl:order-last " data-aos="fade-left" data-aos-duration="1000">
            <img [src]="img1" class="img h-auto max-w-lg  rounded-lg " alt="hidden" />
        </div>
   
     </div>
  </div>

