
<div class="grid grid-cols-2 border-b p-0 border-gray-300">
<h1 mat-dialog-title *ngIf="action">Create Book</h1>
<h1 mat-dialog-title *ngIf="!action">Edit Book</h1>
<div mat-dialog-actions align="end">

  <button type="button" class=" text-neutral-800 py-2 px-2 hover:bg-gray-100 hover:border-1 focus:outline-none  font-medium rounded-lg text-sm  text-center inline-flex items-center dark:focus:ring-black mr-2 " [mat-dialog-close]="true" >
    <svg class="w-4 h-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" >
        <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
   
  </button>
</div>
</div>
<div mat-dialog-content>
  <form [formGroup]="formValue" >
    <div class=" flex items-stretch ">
      
      <div class="w-1/2 pr-7">
                  <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                  <input type="text" id="name"  formControlName="name" class=" border border-gray-300  w-full pr-16 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name"  >
                
                <span style="color: red;" *ngIf="name && name.invalid && name.touched">Please enter name</span>
                </div>
      
      
              <div class="w-1/2">
                  <label for="author" class="block text-sm font-medium leading-6 text-gray-900">Author</label>
                  <input type="text" id="author" formControlName="author" class=" border border-gray-300 w-full pr-16 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Author" >
                  <!--p class="invisible peer-invalid:visible text-red-700 font-light">
                    Please enter Author
                </p-->
                <span style="color: red;" *ngIf="author && author.invalid && author.touched">Please enter author</span>
                </div>
      
    </div>
          <div class="flex mb-3 items-stretch">
          <div class="sm:col-span-2 w-1/2 pr-7">
              <label for="topic" class="block text-sm font-medium leading-6 text-gray-900">Topic</label>
              <div class="mt-2">
             
                <input type="text" id="topic" formControlName="topic" class=" border border-gray-300 w-full pr-16 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Topic" >
                <!--p class="invisible peer-invalid:visible text-red-700 font-light">
                  Please enter topic
              </p-->
              <span style="color: red;" *ngIf="topic && topic.invalid && topic.touched">Please enter topic</span>
              </div>
            </div>
            <div class="sm:col-span-3 w-1/2 pr-7">
              <label for="type" class="block text-sm font-medium leading-6 text-gray-900">Type</label>
              <div class="mt-2">
                <select id="type" name="Type" autocomplete="type"  formControlName="type" class=" block py-2.5   w-full rounded-lg border border-gray-300  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" >
                  <option>Book</option>
                  <option>Al-Sadeed</option>
                </select>
                
              </div>
              <span style="color: red;" *ngIf="type && type.invalid && type.touched">Please enter type</span>
            </div>
            <!--div class="sm:col-span-2 w-1/2">
              <label for="section" class="block text-sm font-medium leading-6 text-gray-900">Section</label>
              <div class="mt-2">
                <select id="section" name="Section" autocomplete="Section"  formControlName="section" class=" block py-2.5  w-full rounded-lg border border-gray-300  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" >
                  <option>Books</option>
                  <option>Books</option>
                </select>
               
              </div>
            </div-->
          </div>
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <textarea id="description" rows="4" formControlName="description" class=" block p-2.5 w-full text-sm text-gray-900  rounded-lg border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write description here..." ></textarea>
          <!--p class="invisible peer-invalid:visible text-red-700 font-light">
            This field cannot be empty
        </p-->
        <span style="color: red;" *ngIf="description && description.invalid && description.touched">Please enter description</span>
          <div class="grid grid-cols-2">
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10 mr-2">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="pt-2 flex text-sm leading-6 text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>Upload book cover</span>
                  <input id="file-upload" name="file-upload" formControlName="cover" type="file" class="sr-only"  (change)="onBookCoverUpload($event)">
                </label>
              </div>
              <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="pt-2 flex text-sm leading-6 text-gray-600">
                <label for="book-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>Upload a book</span>
                  <input id="book-upload" name="book-upload" formControlName="link" type="file" class="sr-only"  (change)="onBookUpload($event)">
                </label>
              </div>
            </div>
          </div>
        </div>
         <!--button type="button"  class="bg-neutral-50 hover:bg-neutral-800 text-neutral-800 font-semibold hover:text-gray-100 py-2 px-4 border border-grey hover:border-transparent rounded"  (click)="OnUpload()" >Upload</button-->
         
  </form>

</div>
<div class="border-t border-gray-300">
  <div  mat-dialog-actions align="end">
    <button  class="bg-neutral-50 hover:bg-gray-100 text-neutral-800 font-semibold hover:text-gray-700 py-2.5 mr-2 px-4 border border-grey hover:border-transparent rounded" [mat-dialog-close]="true">
      Cancel
    </button>
      <button *ngIf="action" type="submit"   [disabled]="isDisabled" class="btn font-semibold py-2 px-4  rounded" (click)="onFormSubmit()">
        Create
      </button>
      <button *ngIf="!action" type="submit" [disabled]="isDisabled" class="btn font-semibold py-2 px-4  rounded" (click)="onFormSubmit()">
        Update
      </button>
  </div>
</div>