<div class=" grid justify-items-center">   
  <div class="w-full mt-3">
    <div class="flow-root  border-b border-gray-300">
      <div class="container">
        <div class="float-left sm:text-center ">
          <p class=" font-semibold text-lg  text-gray-800">
            Login to your account
          </p>
        </div>
        <div class="float-right">
          <button  type="button" class=" text-neutral-800 py-2 px-2 hover:bg-gray-100 hover:border-1 focus:outline-none  font-medium rounded-lg text-sm  text-center inline-flex items-center dark:focus:ring-black " [mat-dialog-close]="true" >
          <svg class="w-4 h-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" >
            <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          </button>
        </div>
      </div>
    </div>
    <form [formGroup]="formValue" class="bg-white px-1 pt-6 pb-8 mb-2  border-b border-gray-300 ">
      <div class="container">
        <div class="mb-2">
          <label class="block text-gray-700 font-medium text-sm  mb-2" for="name">
            User name
          </label>
          <input id="name" formControlName="name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none " type="text" placeholder="Username">
          <span style="color: red;" *ngIf="name && name.invalid && name.touched">Please enter name</span>
        </div>
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
             Password
          </label>
          <input  formControlName="password"  class="appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
          <span style="color: red;" *ngIf="password && password.invalid && password.touched">please enter password</span>
        </div>
      </div>
    </form>
    <div class=" float-right mb-2">
      <div class="container">
        <button  class=" inline-block bg-neutral-50 hover:bg-gray-100 text-neutral-800 font-semibold hover:text-gray-700 py-2.5 mr-2 px-4 border border-grey hover:border-transparent rounded" [mat-dialog-close]="true">
          Cancel
        </button>
        <button  type="submit" [disabled]="formValue.invalid"    class=" btn1  bg-gray-700 inline-block  font-semibold bg-gray-700 hover:bg-gray-900 text-gray-100 font-medium py-2.5 px-4 rounded focus:outline-none focus:shadow-outline"  (click)="click()">
          Log In
        </button>
      </div>
    </div>
  </div>
</div>



